<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Choose your team</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-grid fixed>
    <div style="display: flex; align-items: flex-end;">
      <ion-item style="flex-grow: 1;">
        <ion-label position="floating">Search pokemon you want to add by name or id</ion-label>
        <ion-input [(ngModel)]="queryText" (ionCancel)="queryText = ''" (ngModelChange)="queryTextUpdate.next($event)">
        </ion-input>
      </ion-item>
    </div>

    <ion-row *ngIf="pokemon && !loading">
      <ion-col sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3" sizeXl="2" class="border-bottom">
        <ion-row>
          <ion-col size="6" class="ion-no-padding">
            <img [src]="pokemonService.getPokemonAvatar(pokemon)">
          </ion-col>
          <ion-col size="6" class="ion-no-padding ion-text-center d-flex flex-column">
            <h2>{{ pokemon.name }}</h2>
            <div class="flex-grow-1">
              <ion-chip [color]="item.color" *ngFor="let item of pokemon.type" class="opacity-{{item.opacity}}"
                (click)="goSameType(item)">
                <ion-label>{{ item.name }}</ion-label>
              </ion-chip>
            </div>
            <div *ngIf="!checkExist()">
              <ion-button color="success" fill="outline" shape="round" (click)="addPokemon()">
                <ion-icon name="add"></ion-icon>
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="loading">
      <ion-col sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3" sizeXl="2">
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-skeleton-text></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text class="ion-float-left" animated style="width: 30%"></ion-skeleton-text>
              <ion-skeleton-text class="ion-float-right" animated style="width: 30%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-title *ngIf="player1.length !== 0" class="ion-text-center ion-margin-top">Your team</ion-title>
    <ion-row>
      <ion-col *ngFor="let pokemon of player1" sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3" sizeXl="2">
        <ion-row class="border-bottom border-light ion-padding-vertical ion-margin-top">
          <ion-col size="6" class="ion-no-padding">
            <img [src]="pokemonService.getPokemonAvatar(pokemon)">
          </ion-col>
          <ion-col size="6" class="ion-no-padding ion-text-center d-flex flex-column">
            <h2>{{ pokemon.name }}</h2>
            <div class="flex-grow-1">
              <ion-chip [color]="item.color" *ngFor="let item of pokemon.type" class="opacity-{{item.opacity}}"
                (click)="goSameType(item)">
                <ion-label>{{ item.name }}</ion-label>
              </ion-chip>
            </div>
            <div class="w-100">
              <ion-button color="primary" fill="outline" shape="round" (click)="sharedService.showDetailPokemon(pokemon)">
                <ion-icon name="information"></ion-icon>
              </ion-button>
              <ion-button color="danger" fill="outline" shape="round" (click)="removePokemon(pokemon.id)">
                <ion-icon name="close"></ion-icon>
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!pokemon && !loading && !player1" class="justify-content-center">
      <ion-title>No data</ion-title>
    </ion-row>
    <ion-button *ngIf="player1.length !== 0" expand="full" [disabled]="!player1 || player1.length === 0" routerLink="/play">
      <ion-icon slot="start" name="game-controller"></ion-icon> GO!!!
    </ion-button>
  </ion-grid>
</ion-content>