<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{ pokemon.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">{{ 'common.cancel' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-img [src]="pokemonService.getPokemonAvatar(pokemon)" class="ion-margin"></ion-img>
  <ion-card-header>
    <h1>{{ pokemon.name }}</h1>
    <ion-item>
      <ion-chip [color]="item.color" *ngFor="let item of typeArray" class="opacity-{{item.opacity}}"
        (click)="goSameType(item)">
        <ion-label>{{ item.name | translate }}</ion-label>
      </ion-chip>
    </ion-item>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item lines="none">
        <ion-label><b>{{ 'pokemon.ability' | translate }}</b></ion-label>
      </ion-item>
      <ion-item>
        <ion-chip [color]="item.color" outline="true" *ngFor="let item of abilityArray" [disabled]="item.hidden"
          class="opacity-{{item.opacity}}">
          <ion-label>{{ item.name + (item.hidden ? ' ()' + ('common.hidden' | translate) + ')' : '') }}</ion-label>
        </ion-chip>
      </ion-item>

      <ion-item>
        <ion-label><b>ID</b></ion-label>
        <ion-text style="width: 40%">{{ pokemon.id }}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label><b>{{ 'pokemon.name' | translate }}</b></ion-label>
      </ion-item>
      <ion-item>
        <ion-row *ngIf="pokemonSpecies?.names.length > 0">
          <ion-col sizeXs="6" *ngFor="let item of names">• {{ item }}</ion-col>
        </ion-row>
      </ion-item>

      <ion-item>
        <ion-label><b>{{ 'common.species' | translate }}</b></ion-label>
        <ion-text style="width: 40%">{{ pokemonSpecies?.name }}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label><b>{{ 'common.shape' | translate }}</b></ion-label>
        <ion-text style="width: 40%">{{ pokemonSpecies?.shape.name }}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label><b>{{ 'common.color' | translate }}</b></ion-label>
        <ion-text style="width: 40%">{{ pokemonSpecies?.color.name }}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label><b>{{ 'common.sex-dif' | translate }}</b></ion-label>
        <ion-text style="width: 40%; padding-top: 8px;">
          <!-- {{ pokemonSpecies?.has_gender_differences }} -->
          <ion-icon [color]="pokemonSpecies?.has_gender_differences ? 'success' : 'danger'" size="large"
            name="{{pokemonSpecies?.has_gender_differences ? 'checkmark' : 'close'}}-circle-outline"></ion-icon>
        </ion-text>
      </ion-item>

      <ion-item>
        <ion-label><b>{{ 'common.sex' | translate }}</b></ion-label>
        <ion-text style="width: 40%" *ngIf="pokemonSpecies?.gender_rate === -1">Genderless</ion-text>
      </ion-item>
      <ion-item *ngIf="pokemonSpecies?.gender_rate !== -1">
        <ion-label>
          <ion-text class="ion-padding-start">{{ 'common.male' | translate }}</ion-text>
        </ion-label>
        <ion-text style="width: 40%">{{ 100 - 100 * pokemonSpecies?.gender_rate / 8 | number: '1.0-2' }}%</ion-text>
      </ion-item>
      <ion-item *ngIf="pokemonSpecies?.gender_rate !== -1">
        <ion-label>
          <ion-text class="ion-padding-start">{{ 'common.female' | translate }}</ion-text>
        </ion-label>
        <ion-text style="width: 40%">{{ 100 * pokemonSpecies?.gender_rate / 8 | number: '1.0-2' }}%</ion-text>
      </ion-item>

      <ion-item>
        <ion-label><b>{{ 'common.default' | translate }}</b></ion-label>
        <ion-text style="width: 40%; padding-top: 8px;">
          <!-- {{ pokemon?.is_default }} -->
          <ion-icon [color]="pokemon?.is_default ? 'success' : 'danger'" size="large"
            name="{{pokemon?.is_default ? 'checkmark' : 'close'}}-circle-outline"></ion-icon>
        </ion-text>
      </ion-item>

      <ion-item>
        <ion-label><b>{{ 'common.height' | translate }}</b></ion-label>
        <ion-text style="width: 40%">{{ pokemon.height / 10 }} m</ion-text>
      </ion-item>

      <ion-item>
        <ion-label><b>{{ 'common.weight' | translate }}</b></ion-label>
        <ion-text style="width: 40%">{{ pokemon.weight / 10 }} kg</ion-text>
      </ion-item>

      <ion-item>
        <ion-label><b>{{ 'common.base-exp' | translate }}</b></ion-label>
        <ion-text style="width: 40%">{{ pokemon.base_experience }}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label><b>{{ 'common.base-cap-rate' | translate }}</b></ion-label>
        <ion-text style="width: 40%">
          {{ pokemonSpecies?.capture_rate }} ({{ 100 * pokemonSpecies?.capture_rate / 255 | number: '1.0-2' }}%)
        </ion-text>
      </ion-item>

      <ion-item>
        <ion-label><b>{{ 'common.base-happiness-rate' | translate }}</b></ion-label>
        <ion-text style="width: 40%">
          {{ pokemonSpecies?.base_happiness }} ({{ 100 * pokemonSpecies?.base_happiness / 255 | number: '1.0-2' }}%)
        </ion-text>
      </ion-item>

      <ion-item>
        <ion-label><b>{{ 'common.is-baby' | translate }}</b></ion-label>
        <ion-text style="width: 40%; padding-top: 8px;">
          <!-- {{ pokemonSpecies?.is_baby }} -->
          <ion-icon [color]="pokemonSpecies?.is_baby ? 'success' : 'danger'" size="large"
            name="{{pokemonSpecies?.is_baby ? 'checkmark' : 'close'}}-circle-outline"></ion-icon>
        </ion-text>
      </ion-item>

      <ion-item>
        <ion-label><b>{{ 'common.is-legendary' | translate }}</b></ion-label>
        <ion-text style="width: 40%; padding-top: 8px;">
          <!-- {{ pokemonSpecies?.is_legendary }} -->
          <ion-icon [color]="pokemonSpecies?.is_legendary ? 'success' : 'danger'" size="large"
            name="{{pokemonSpecies?.is_legendary ? 'checkmark' : 'close'}}-circle-outline"></ion-icon>
        </ion-text>
      </ion-item>

      <ion-item>
        <ion-label><b>{{ 'common.is-mythical' | translate }}</b></ion-label>
        <ion-text style="width: 40%; padding-top: 8px;">
          <!-- {{ pokemonSpecies?.is_mythical }} -->
          <ion-icon [color]="pokemonSpecies?.is_mythical ? 'success' : 'danger'" size="large"
            name="{{pokemonSpecies?.is_mythical ? 'checkmark' : 'close'}}-circle-outline"></ion-icon>
        </ion-text>
      </ion-item>

      <ion-item>
        <ion-label><b>{{ 'common.forms-switchable' | translate }}</b></ion-label>
        <ion-text style="width: 40%; padding-top: 8px;">
          <!-- {{ pokemonSpecies?.forms_switchable }} -->
          <ion-icon [color]="pokemonSpecies?.forms_switchable ? 'success' : 'danger'" size="large"
            name="{{pokemonSpecies?.forms_switchable ? 'checkmark' : 'close'}}-circle-outline"></ion-icon>
        </ion-text>
      </ion-item>

      <ion-item>
        <ion-label><b>{{ 'common.growth-rate' | translate }}</b></ion-label>
        <ion-text style="width: 40%">{{ pokemonSpecies?.growth_rate.name }}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label><b>{{ 'common.habitat' | translate }}</b></ion-label>
        <ion-text style="width: 40%">
          {{ pokemonSpecies?.habitat?.name ? pokemonSpecies?.habitat?.name : ('common.unknown' | translate) }}
        </ion-text>
      </ion-item>

      <ion-item>
        <ion-label><b>{{ 'pokemon.hatch_counter' | translate }}</b></ion-label>
        <ion-text style="width: 40%">
          {{ pokemonSpecies?.hatch_counter }} ({{ 255 * (pokemonSpecies?.hatch_counter + 1) }} {{ 'pokemon.step' |
          translate }})
        </ion-text>
      </ion-item>

      <ion-item lines="none">
        <ion-label><b>{{ 'pokemon.encounter' | translate }}</b></ion-label>
        <ion-text style="width: 40%" *ngIf="locationArea.length === 0">{{ 'common.unknown' | translate }}</ion-text>
      </ion-item>
      <ion-item *ngIf="locationArea.length > 0">
        <ion-row class="w-100">
          <ion-col [sizeXs]="locationArea.length > 1 ? 6 : 12" *ngFor="let item of locationArea">• {{ item }}</ion-col>
        </ion-row>
      </ion-item>

      <ion-item lines="none" class="ion-margin-top">
        <ion-label><b>{{ 'pokemon.statistics' | translate }}</b></ion-label>
        <ion-text class="ion-text-end" style="width: 40%">
          <b>{{ points }}</b> ({{ 'pokemon.total' | translate }})
        </ion-text>
      </ion-item>
      <ion-row class="w-100">
        <ion-col sizeXs="12" *ngFor="let item of statArray">
          <p class="position-relative">
            <!-- [buffer]="1 - item.percent/100" -->
            <ion-progress-bar [color]="item.color" [value]="item.percent/100"></ion-progress-bar>
            <ion-text [color]="item.color" style="line-height: 1.5rem;"
              class="position-absolute end-0 top-0 pe-1 ion-text-end w-100">
              {{ 'pokemon.' + item.name | translate }} - {{ item.val | number: '1.0-2' }}
            </ion-text>
          </p>
        </ion-col>
      </ion-row>
      <ion-item lines="none" class="ion-margin-top">
        <ion-label><b>{{ 'pokemon.strategy' | translate }}</b></ion-label>
      </ion-item>
      <ion-row class="w-100">
        <ion-grid>
          <ion-row>
            <ion-col sizeXs="6" class="success ion-text-center">{{ 'pokemon.best-to-beast' | translate }}:</ion-col>
            <ion-col sizeXs="6" class="warning ion-text-center">{{ 'pokemon.avoid-with' | translate }}:</ion-col>
          </ion-row>
          <ion-row>
            <ion-col sizeXs="6" class="success">
              <ion-chip [color]="item.color" outline="true" *ngFor="let item of bestToBeat"
                class="opacity-{{item.opacity}}" (click)="goSameType(item)">
                <ion-label>{{ item.name }}</ion-label>
              </ion-chip>
            </ion-col>
            <ion-col sizeXs="6" class="warning">
              <ion-chip [color]="item.color" outline="true" *ngFor="let item of avoidTo"
                class="opacity-{{item.opacity}}" (click)="goSameType(item)">
                <ion-label>{{ item.name }}</ion-label>
              </ion-chip>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-row>

      <ion-item lines="none" class="ion-margin-top">
        <ion-label><b>{{ 'pokemon.varieties' | translate }}</b></ion-label>
        <ion-text style="width: 40%" *ngIf="pokemonSpecies?.varieties.length <= 1">
          {{ 'pokemon.not-available' | translate }}
        </ion-text>
      </ion-item>
      <ion-row>
        <ion-col class="center" *ngFor="let variety of varieties; index as i" (click)="showPokemon(variety)"
          class="d-flex flex-column align-items-center justify-content-center">
          <ion-img [src]="pokemonService.getPokemonAvatar(variety)" style="width: 150px;"></ion-img>
          <ion-text>{{ variety.name }}</ion-text>
          <ion-row>
            <ion-chip [color]="item.color" *ngFor="let item of varietyTypes[i]" class="opacity-{{item.opacity}}"
              style="font-size: 11.5px;" (click)="goSameType(item)">
              <ion-label>{{ item.name }}</ion-label>
            </ion-chip>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-item lines="none" class="ion-margin-top">
        <ion-label><b>{{ 'pokemon.evolution' | translate }}</b></ion-label>
        <ion-text style="width: 40%" *ngIf="evolutions.length === 0">
          {{ 'pokemon.not-available' | translate }}
        </ion-text>
      </ion-item>
      <ion-row>
        <ion-col size="12" class="ion-padding-vertical" *ngFor="let evolution of evolutions; index as i"
          (click)="showPokemon(evolution)">
          <ion-row>
            <ion-col size="6" class="m-auto">
              <ion-img [src]="pokemonService.getPokemonAvatar(evolution)" style="width: 200px;"></ion-img>
            </ion-col>
            <ion-col size="6" class="d-flex flex-column align-items-center justify-content-center">
              <h1 class="ion-text-end">{{ evolution.name }}</h1>
              <div>
                <ion-chip [color]="item.color" *ngFor="let item of evolutionTypes[i]"
                  class="opacity-{{item.opacity}} ion-float-right" (click)="goSameType(item)">
                  <ion-label>{{ item.name }}</ion-label>
                </ion-chip>
              </div>
              <h3 *ngIf="evolution.min_level" class="ion-text-end">
                ({{ 'pokemon.min-level' | translate }}: {{ evolution.min_level }})
              </h3>
            </ion-col>
          </ion-row>
          <ion-img class="ion-padding-top" style="height: 3rem;" src="../../../../assets/img/arrow_down.png"
            *ngIf="i < evolutions.length - 1"></ion-img>
        </ion-col>
      </ion-row>
    </ion-list>
  </ion-card-content>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button size="small">
      <ion-icon name="chevron-back" (click)="dismissModal()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
