<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Play</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-grid fixed>
    <!-- <ion-row>
      <ion-col style="width: 100px;" *ngFor="let pokemon of player1">
        <img [src]="sharedService.getPokemonAvatar(pokemon)">
      </ion-col>
    </ion-row> -->
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide *ngFor="let pokemon of player1" class="flex-column">
        <img [src]="sharedService.getPokemonAvatar(pokemon)" style="width: 100px;">
        <h1>{{pokemon.name}}</h1>
      </ion-slide>
    </ion-slides>
  </ion-grid>
</ion-content>